<% if user_signed_in? %>
<div class="table_class car_class">
<h3>Mechanics</h3>
<div class="btn-group ">
<%= link_to "New Mechanic", new_mechanic_path, :class => "btn btn-primary"%>
</div>
</div>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead style="background-color:#006b96;color:#fff;">
    <tr>
      <th>Machanic</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Phone number</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <%i=0%>
  <tbody>
    <% @mechanics.each do |mechanic| %>
      <tr>
        <td><%=i=i+1%></td>
        <td><%= mechanic.machanic_id %></td>
        <td><%= mechanic.first_name %></td>
        <td><%= mechanic.last_name %></td>
        <td><%= mechanic.address %></td>
        <td><%= mechanic.Phone_number %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_mechanic_path(mechanic) %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, mechanic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

