<% if user_signed_in? %>
<div class="table_class car_class">
<h3>Parts Used</h3>
<div class="btn-group ">
<%= link_to 'New Parts Used', new_parts_used_path,:class => "btn btn-primary" %>
</div>
</div>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead style="background-color:#006b96;color:#fff;">
    <tr>
      <th>Sl.no</th>
      <th>Parts used</th>
      <th>Part</th>
      <th>Service ticket</th>
      <th>Number used</th>
      <th>Price</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <%i=0%>
  <tbody>
    <% @parts_useds.each do |parts_used| %>
      <tr>
        <td><%=i=i+1%></td>
        <td><%= parts_used.parts_used_id %></td>
        <td><%= parts_used.part_id %></td>
        <td><%= parts_used.service_ticket_id %></td>
        <td><%= parts_used.number_used %></td>
        <td><%= parts_used.price %></td>
        <td><%= link_to 'Show', parts_used %></td>
         <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_parts_used_path(parts_used) %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, parts_used, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>