<% if user_signed_in? %>
<div class="table_class car_class">
<h3>Sales</h3>
<div class="btn-group ">
<%= link_to "New Sale Invoice", new_sale_path, :class => "btn btn-primary"%>
</div>
</div>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead style="background-color:#006b96;color:#fff;">
    <tr>
      <th>Sl.no</th>
      <th>Invoice</th>
      <th>Invoice number</th>
      <th>Date of sale</th>
      <th>Car</th>
      <th>Customer</th>
      <th>Sales person</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <%i=0%>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%=i=i+1%></td>
        <td><%= sale.invoice_id %></td>
        <td><%= sale.invoice_number %></td>
        <td><%= sale.date_of_sale %></td>
        <td><%= sale.car_id %></td>
        <td><%= sale.customer_id %></td>
        <td><%= sale.sales_person_id %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_sale_path(sale) %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>