<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @sale.invoice_id %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @sale.invoice_number %>
</p>

<p>
  <strong>Date of sale:</strong>
  <%= @sale.date_of_sale %>
</p>

<p>
  <strong>Car:</strong>
  <%= @sale.car_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer_id %>
</p>

<p>
  <strong>Sales person:</strong>
  <%= @sale.sales_person_id %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
